{% load app_tags %}

{% component_id 'episode-row' episode as episode_row_id %}
<div id="{% component_id 'episode-row' episode %}"
     class="bg-base-100 rounded-lg overflow-hidden shadow-lg">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-64 md:pl-2 shrink-0 flex relative overflow-clip md:overflow-visible">
      <div class="absolute bg-cover blur-sm contain h-full left-0 top-0 w-full" style="background-image: url('{{ episode.image }}')"></div>
      <img src="{{ IMG_NONE }}"
           alt="E{{ episode.episode_number }}"
           data-src="{{ episode.image }}"
           class="lazyload aspect-video object-contain z-1 m-auto">
    </div>
    <div class="py-3 flex-1 flex flex-col">
      <div class="flex-1">
        <div class="flex justify-between items-start mb-2 space-x-2 px-4">
          <div>
            <h2 class="text-xl font-semibold mb-1">{{ episode.title }}</h2>
            <p class="text-sm text-gray-400">
              Episode {{ episode.episode_number }} • {{ episode.air_date|default_if_none:"Unknown air date" }}
              {% if episode.runtime %}• {{ episode.runtime }}{% endif %}
            </p>
          </div>
        </div>
        <div class="flex space-x-2 mb-2 px-4">
          <div x-data="{ trackOpen: false }">
            <button @click="trackOpen = true"
                    title="Track Episode"
                    class="btn btn-circle btn-sm btn-accent">
              {% if episode.history %}
                {% include "app/icons/eye.svg" with classes="w-4 h-4" %}
              {% else %}
                {% include "app/icons/eye-closed.svg" with classes="w-4 h-4" %}
              {% endif %}
            </button>

            {% include "app/components/fill_track_episode.html" with request=request media=media episode=episode episode_title=episode.title csrf_token=csrf_token TRACK_TIME=TRACK_TIME use_htmx="true" episode_hx_target_id=episode_row_id return_url=page_url only %}
          </div>

          <div x-data="{ listsOpen: false }">
            <button class="btn btn-circle btn-sm btn-success"
                    title="Add to custom lists"
                    hx-get="{% media_view_url 'lists_modal' episode %}"
                    hx-vals='{"return_url": "{{ page_url|urlencode }}"}'
                    hx-target="#{% component_id 'lists' episode %}"
                    hx-trigger="click once"
                    @click="listsOpen = true">
              {% include "app/icons/list-add.svg" with classes="w-4 h-4" %}
            </button>

            <div x-show="listsOpen"
                 @keydown.escape.window="listsOpen = false"
                 class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
              <div class="w-96 max-h-[90vh] px-4 md:px-0 relative z-60"
                   @click.outside="listsOpen = false">
                <div id="{% component_id 'lists' episode %}"></div>
              </div>
            </div>
          </div>

          <div x-data="{ historyOpen: false }">
            <button class="btn btn-circle btn-sm btn-warning"
                    title="View your activity history"
                    hx-get="{% media_view_url 'history_modal' episode %}"
                    hx-vals='{"return_url": "{{ page_url|urlencode }}"}'
                    hx-target="#{% component_id 'history' episode %}"
                    hx-trigger="click once"
                    @click="historyOpen = true">
              {% include "app/icons/history.svg" with classes="w-4 h-4" %}
            </button>
            <div x-show="historyOpen"
                 @keydown.escape.window="historyOpen = false"
                 class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
              <div class="w-96 max-h-[90vh] px-4 md:px-0 relative z-60"
                   @click.outside="historyOpen = false">
                <div id="{% component_id 'history' episode %}"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="{% if episode.history %}md:h-[calc(2*1.5rem)]{% else %}md:h-[calc(3*1.5rem)]{% endif %} md:overflow-y-auto px-4">
          <p class="text-sm text-gray-300 leading-relaxed text-pretty">{{ episode.overview }}</p>
        </div>
      </div>
      {% if episode.history %}
        <p class="text-xs text-gray-400 mt-2 px-4">
          Last watched: {{ episode.history.0.end_date|date_tracker_format|default_if_none:"No date provided" }}
          {% if episode.history|length > 1 %}• Watched {{ episode.history|length }} times{% endif %}
        </p>
      {% endif %}
    </div>
  </div>
</div>
